
<section id="sigIn">
    <div class="container">
        <form  [formGroup]="logInForm" (ngSubmit)="logInForm.valid && logIn()">
            <div class="form w-50 m-auto">
                <input formControlName="email"  type="email" class="form-control my-3"  placeholder="Enter your Email"
                [class.is-valid]="logInForm.get('email')?.status=='VALID'"
                >
              
                 <div  *ngIf="logInForm.get('email')?.errors!=null 
        && logInForm.get('email')?.touched"class="alert mt-2  alert-danger">
            <p *ngIf="logInForm.controls.email.errors?.['required']">email is required</p>
            <p *ngIf="logInForm.controls.email.errors?.['email']">email not valid</p>
            
        </div>
                 <input type="password" formControlName="password" placeholder="Enter Your Password" class="form-control my-3">
              
               <button  type="submit" class="btn btn-info w-100">sign in</button>
        
            </div>
        </form>
      
    </div>
</section>